
res/sprites/Individual Sprites/adventurer-fall-00.png
res/sprites/Individual Sprites/adventurer-fall-01.png
res/sprites/Individual Sprites/adventurer-hurt-00.png
res/sprites/Individual Sprites/adventurer-hurt-01.png
res/sprites/Individual Sprites/adventurer-hurt-02.png
